body {
  background-color: white;
  color: black;
  font-family: "Helvetica Neue";
  font-style: condensed;
  font-weight: normal;
/*
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;*/
}

.main_container {
  width: 100%;
}

/* ---------------- Input panel ---------------- */

#input_panel {
  padding: 30px;
  padding-right: 45px;
  float: left;
  min-height: 100%;
  position: relative;
  width: 30%;
}

#info_panel {
  float: left;
  padding-top: 30px;
  width: 98%;
  display: none;
}

#results {
  overflow: auto;
}

#results li:hover {
  background-color: #e6e6e6;
}

.results_text {
  padding-bottom: 30px;
}

#spinner {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
  width: 20px;
  display: none;
}

.loading {
  background-color: #000;
  opacity: 20%;
}

.main_text {
  text-align: left;
  padding-bottom: 15px;
}

.restaurant_item .details {
  display: none;
}

/* ---------------- Map panel ---------------- */

#map-canvas {
  width: 70%;
  height: 100%;
  padding: 30px 0;
  float: right;
}

.marker_label {
  white-space:nowrap;
}

/* ---------------- Properties ---------------- */

.fill_width {
  width: 100%;
}

.center_text {
  text-align: center;
}

/*.center {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}*/

.text_large {
  font-size: 250%;
  font-weight: lighter;
}

.padding_30 {
  padding: 30px;
}